body {
  background-color: rgb(255, 255, 255);
}

.div-container {
  display: flex;
  height: 600px;
  background-color: #0fffff;
  text-align: center;
  justify-content: center;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 2s;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border-style: solid;
}

.main-heading {
  font-size: 100px;
  margin-top: 200px;

}

@keyframes example {
  25% {
    background: #3aff43;
  }

  25% {
    background: #c46aff;
  }

  25% {
    background: #d1d1d1;
  }

  25% {
    background: #f3a4a4;
  }

}

.cust-img {
  height: 500px;
  margin-top: 100px;
  margin-left: 250px;
  border-radius: 10px;
  border: 5px double #000000;

}